<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="style">
</head>

<body>
    <div class="col justify-content-around" style="padding: 10% 25%">

        <div class="alert alert-success" id="alert" role="alert">
            <h3>You have voted successfully!!</h3>
        </div>

        <div class="d-flex justify-content-center mt-50 mb-50">
            <div class="card w-100">
                <div class="card-header header-elements-inline">
                    <h5 class="card-title mt-2">Vote Preview</h5>
                    <div class="header-elements">
                        <div class="list-icons text-muted font-weight-light"> <a class="list-icons-item"
                                data-action="collapse" data-abc="true"><i class="fa fa-minus font-weight-light"></i></a>
                            <a class="list-icons-item" data-action="reload" data-abc="true"><i
                                    class="fa fa-refresh"></i></a> <a class="list-icons-item" data-action="remove"
                                data-abc="true"><i class="fa fa-close"></i></a> </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Voter</th>
                                <td id="voter"></td>
                            </tr>
                            <tr>
                                <th>House</th>
                                <td id="house"></td>
                            </tr>
                            <tr>
                                <th style="white-space: nowrap;">Candidate Name</th>
                                <td id="name"></td>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <br>
        <button class="btn btn-primary" onclick="show_result()">Result</button>
        <!-- <form action="javascript:send_data('Gryffindor','Parth Parmar')" method="POST"> -->

        <!-- <button type="submit" id="button" class="btn btn-primary" value="Gryffindor">Vote</button>
        </form> -->
    </div>
</body>

<script>

    function show_result() {
        window.location = '/result'
    }

    cookies = document.cookie.split(';')
    for (var i = 0; i < cookies.length; i++) {
        c_value = cookies[i].split('=')
        if (c_value[0] == ' vote') {
            c_value = JSON.parse(c_value[1])
            document.getElementById('voter').innerHTML = c_value.pub_key
            document.getElementById('house').innerHTML = c_value.house
            document.getElementById('name').innerHTML = c_value.name
        }
    }

</script>

</html>